* {
    box-sizing: border-box;
    /*Para que el elemento no cresca más allá del borde que yo le doy*/
}


body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    color: white;
    background-color: #252c61;
}

button:hover {
    font-style: 1.2em;
    padding: 7px 12px;
    transition: all 0.4s linear;
    background-color: #80B0DE;
    animation: 1.5s infinite boton-menu;
}

@keyframes boton-menu{
    0% { transform: scaleX(1.0);}  
    50% { transform: scaleX(1.15);}  
    100% { transform: scaleX(1.0);}
}

.contenedor {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto; 
}

.header{
    background-color: #252c61;
    padding: 8px;

    position: fixed;
    left: 10px;
    top: 10px;
    right: 10px;

    border-radius: 30px;    
}

.logo-navegador-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-navegador-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.navegacion li {
    display: inline-block;
}


.navegacion ul li a:hover {
border-radius: 5px;
   background-color: #80B0DE;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
}

header .contenedor {
display: flex;
align-items: center;
}

h1 {
    font-size: 3.5 em;
}

h2 {
    font-size: 2 em;
}

h3 {
    font-size: 1.25;
}

p {
    font-size: 1;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}




.form{
    display: block;
    background-color: white;
    padding: 30px;
    margin:auto;
    margin-bottom: 20px;
    margin-left: 40px;
    color: #252c61;
   
        
}


.form p{
    font-size: small;

}

.completar{
    width: 500px;
    border-style: double;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #98ABEE;
    align-items: center;
   
}

.controls{
    width: 100%;
    margin-bottom: 20px;
    color: #252c61;
   
}

.botons{
    
    background-color: #252c61;
    color: white;
    margin-top: 20px;
    width: 25%;
    
    
    
   
}




.pie{
    background-color: #252c61; ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}



.pie ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.redes{
    display: flex;
    column-gap: 30px;
}

.pie a{
    color: white;
    
}

.pie p{
    color: white;
}


